@media(max-width: 1140px) {
    .card {
        width: calc( 50% - 15px );
    }
    /* FOOTER */
    .footer {
        padding-top: 40px;
        padding-bottom: 60px;
    }
    .footer-row {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
    .footer-row > * + * {
        margin-bottom: 50px;
    }
    .footer-social-list {
        justify-content: center;
    }
}


@media(max-width: 760px) {
    /* HEADER */
    .header-title {
        font-size: 32px;
    }
    .header-subtitle {
        font-size: 14px;
    }
    /* PORTFOLIO */
    .portfolio {
        padding-top: 40px;
        padding-bottom: 60px;
    }
    .section_header {
        font-size: 32px;
        margin-bottom: 30px;
       }
       .portfolio_cards_wrapper {
         justify-content: center;
       }
       .card {
        padding: 15px;
        width: 100%;
    }
       .card_img {
        margin-bottom: 10px;
   }
       .card-title {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .card p {
        font-size: 14px;
    }
    .copyright-name {
        font-size: 18px;
        margin-bottom: 5px;
     }
     .footer-copyright p {
         font-size: 14px;
      }
      .footer-contacts p{
         font-size: 14px;
         margin: 0px;
         margin-top: 15px; 
      };

}